dist/
*.egg-info

*.c
*.h
*.hpp
*.o
*.la
*.lo
*.gz
*.bz2
*.xz
*.pc

src/radiometer_lcmd/lcmtypes/
*.class
*.java
*.jar
*.stamp

aclocal.m4
autom4te.cache
ar-lib
build
compile
configure
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
depcomp
.deps/
install-sh
.libs/
libtool
ltmain.sh
m4
Makefile
Makefile.in
missing
stamp-h1
