[Unit]
Description=LCM daemon for radiometer averager
After=network.target multicast-static.service radiometer-lcmd.service

[Service]
Type=simple
Restart=on-failure
RestartSec=3s
User=mesobot
Group=mesobot
Environment="LCM_DEFAULT_URL=udpm://239.255.76.67:7667?ttl=1"
ExecStart=/home/mesobot/src/tx2/radiometer-lcmd/bin/radiometer_averager.py

[Install]
WantedBy=default.target
