[Unit]
Description=LCM daemon for radiometer
After=multicast-static.service

[Service]
Type=simple
Restart=on-failure
RestartSec=1s
User=mesobot
Group=mesobot
Environment="LCM_DEFAULT_URL=udpm://239.255.76.67:7667?ttl=1"
ExecStart=/home/mesobot/src/tx2/radiometer-lcmd/bin/radiometer_photon_accumulator.py -w 40 -s u -c RAD1fd

[Install]
WantedBy=default.target
